.topfold {
  display: flex;
  justify-content: space-between;
  margin: 6px 12px;
  padding: 12px 0px;
  align-items: center;
}
.home-topfold {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.searchbar {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: white;
  border-radius: 12px;
}
.searchbar input {
  width: 80%;
  outline: none;
  padding: 8px 0px;
  border: none;
  margin-left: 6px;
  background-color: white;
}

.searchbar i {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.add-button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 20px;
  padding: 0px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.add-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.add-topfold {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.add-topfold-button {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
.add-topfold-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media only screen and (max-width: 1024px) {
  .add-button {
    font-size: 18px;
  }
  .searchbar {
    width: 70%;
  }
}

@media only screen and (max-width: 512px) {
  .add-button {
    font-size: 16px;
  }
}
