.card {
  background: white;
  padding: 12px;
  margin: 2px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  height: 40px;
}
.card-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.card-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 12px;
}
.card-title {
  font-size: 20px;
}
.card-time {
  font-size: 12px;
  color: gray;
}
.card-amount {
  font-size: 20px;
  font-weight: 500;
}
.delete-icon {
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .card-title {
    font-size: 18px;
  }
  .card-amount {
    font-size: 18px;
  }
  .card-image {
    height: 32px;
  }
  .card-time {
    font-size: 10px;
  }
}

@media only screen and (max-width: 512px) {
  .card-title {
    font-size: 16px;
  }
  .card-amount {
    font-size: 16px;
  }
}
