.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 6px 12px;
}
.header-logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}
.header-logo i {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.header-button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 8px;
}
.header-button i {
  margin-right: 4px;
}

@media only screen and (max-width: 1024px) {
  .header-logo {
    font-size: 28px;
  }
  .header-button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-logo {
    font-size: 24px;
  }
  .header-button {
    font-size: 16px;
  }
}
