.add-expense {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .add-expense {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .add-expense {
    width: 100%;
  }
}
